@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap");

/* REMOVE */
#test {
  height: 1000px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  background-color: #f2f5fa;
  font-family: "Inter", sans-serif;

  display: grid;
}
main {
  width: 50vw;
  justify-self: center;
}
.dark {
  background-color: #181a1b;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* H1 */
h1 {
  font-family: "Sora", sans-serif;
  font-size: 2rem;
  letter-spacing: -1px;
  font-weight: 100;
}
h1 > span {
  font-size: 1.1rem;
}
.dark h1 {
  color: white;
}

/* p */
p {
  font-size: 14px;
  line-height: 20px;
  color: rgb(156, 163, 175);
}
.dark > p {
  color: rgb(163, 163, 163);
}

/* HEADER */
header {
  padding: 1.2rem;
  position: sticky;
  top: 0;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 2.5rem;
}
header > nav {
  justify-self: center;
  margin-left: calc(28.8px + 2.5rem);
}
header > nav > ul {
  font-size: 1.2rem;

  display: flex;
  gap: clamp(1rem, 3vw, 3vw);
}
header > nav a {
  color: rgb(75, 85, 99);
  text-decoration: none;
}
.dark header > nav a {
  color: rgb(229, 231, 235);
}

header .colorTheme svg {
  width: 1.8rem;
  height: 1.8rem;
}

/* MAIN */
main {
  display: grid;
  place-content: center;
}

/* PROJECTS */
.projects {
  margin-bottom: 6rem;

  display: grid;
  grid-template-columns: repeat(2, minmax(325px, 1fr));
  gap: 3rem;
}

.project {
  margin-top: 100px;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;

  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
}
.dark .project {
  background-color: #25282a;
}
.project > img {
  width: 100%;

  margin-top: -100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.project > h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
  color: rgb(23, 23, 23);
}
.dark .project > h3 {
  color: rgb(229, 229, 229);
}
.project > .tags {
  gap: 4px;
}
.project > .tags > span {
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  background-color: rgb(243, 244, 246);
  color: rgb(107, 114, 128);
  border-radius: 6px;
}
.dark .project > .tags > span {
  color: rgb(107, 114, 128);
  background-color: rgb(24, 26, 27);
}
.project > .buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-top: 1.2rem;
}
.project > .buttons > a {
  color: rgb(107, 114, 128);
  cursor: pointer;
  transition: transform 0.1s;
}
.project > .buttons svg {
  height: 1.4rem;
  width: 1.4rem;
}
.project > .buttons > a:hover {
  color: black;
  transform: scale(1.1);
}
.dark .project > .buttons > a:hover {
  color: white;
}

/* FOOTER */
footer {
  width: 40vw;
  justify-self: center;

  background-color: wheat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 1rem;
  padding-left: 2rem;
  margin: 0 0.5rem;
  margin-top: 5rem;
  padding-top: 0.2rem;

  display: grid;
  justify-items: center;
  padding-right: 2rem;
}
.dark footer {
  background-color: rgb(240, 60, 60);
}
footer h1 {
  justify-self: center;
}
footer ul {
  list-style: none;
  display: flex;
  gap: 2vw;
}
footer svg {
  margin-top: 1.5rem;
  width: 2.5rem;
  transition: transform 0.1s;
}
.dark footer svg {
  fill: white;
}
footer p {
  font-size: 1.4rem;
  margin: 0;
  color: rgb(50, 50, 50);
  line-height: 1.6rem;
  width: clamp(25rem, 27vw, 27vw);
}
.dark footer p {
  color: darkgray;
}

footer svg:hover {
  color: black;
  transform: scale(1.1);
}

@media (max-width: 1300px) {
  main {
    width: 75vw;
  }
  footer {
    width: 60vw;
  }
  footer p {
    width: 45vw;
  }
  .projects {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
  }
}

@media (max-width: 700px) {
  main {
    width: 90vw;
  }
  header > nav {
    margin-left: 0;
  }
  footer {
    margin-top: 0;
    width: 80vw;
  }
  footer p {
    width: 80vw;
  }
  .projects {
    grid-template-columns: minmax(275px, 500px);
  }
}
